<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="QualiDiab-Gest - Sistema de registro ">

    <link rel="shortcut icon" href="{{ asset('public/image/favicon.png') }}">

    <title>QualiDiab-Gest</title>


    <!-- Bootstrap CSS -->    
    <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{{ asset('public/css/bootstrap-theme.css') }}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{{ asset('public/css/elegant-icons-style.css') }} " rel="stylesheet" />
    <link href="{{ asset('public/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{{ asset('public/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('public/css/style-responsive.css') }}" rel="stylesheet" />

 
</head>

  <body>
   <div class="page-404">
    <p class="text-404">{{ status_code }}</p>
    <h2>Uppppss!</h2>
    <p>El servidor a retornado el error: {{ status_code }} {{ status_text }}<br><a href="{{ path('homepage') }}">Inicio</a></p>
  </div>
  
  </body>
</html>