{% extends 'layout.html.twig' %}

{% block body %}
      <!--overview start-->
      <div class="row">
        <div class="col-lg-12">
	<h3 class="page-header"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Unidades de Carga </h3>
	<a class="btn btn-primary" href="{{ path('unidadcarga_index') }}" title="Volver"><i class="fa fa fa-reply-all" aria-hidden="true"></i>  Volver</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>				
                <th></th>
            </tr>
        </thead>
        <tbody>
			<tr>
				<td> {{ unidadCarga.nombre }} </td>
				<td> {{ unidadCarga.localidad }} </td>
                <td>
                    <ul>
                        <li>
							<a href="{{ path('unidadcarga_edit', { 'id': unidadCarga.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
		</tbody>
	</table>

<!-- <ul>
		<li>
            {{ form_start(delete_form) }}
                <div class="row">
					<div class="col-lg-12">
			
					<input type="submit" class="btn btn-danger" value="Eliminar" />


					<br>
				</div>  
			</div>				
            {{ form_end(delete_form) }}
        </li>
    </ul> -->
{% endblock %}
