{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fichahijo creation</h1>

    {{ form_start(form) }}
 		    {{ form_widget(form.capurro, { 'attr' :{ 'class' : 'form-control ', 'placeholder' : 'mg/día', 'min' : '0', 'max' : '9999'}}) }}
            <span class="text-danger">{{ form_errors(form.capurro) }}</span>
		
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fichahijo_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}


