{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Nuevo Usuario</h3>
            <!-- <a class="btn btn-primary" href="{{ path('unidadcarga_index') }}" title="Volver"><i class="fa fa fa-reply-all" aria-hidden="true"></i>  Volver</a> --> 
        </div>
    </div>
    <br>


    <div class="main container">
        <div class="row well" >
            <div class="col-md-12">
            {{ form_start(form, {'attr': {'class': 'fos_user_registration_register', 'id': 'register-form'} }) }}
                
                            {{ form_errors(form) }}
                  
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('intention') }}">
                               
                        <div class="form-group col-lg-4">
                            <label>Nombre:</label>
                            {{ form_widget(form.username, { 'attr' :{ 'class' : 'form-control', 'placeholder' : 'Ingrese el nombre de usuario...', 'required' : 'required'}}) }}
                            <span class="text-danger">{{ form_errors(form.username) }}</span>
                        </div>
                        <div class="form-group col-lg-4">
                             <label>Contrase単a:</label>
                             {{ form_widget(form.plainPassword.first, { 'attr' :{ 'class' : 'form-control', 'placeholder' : 'Ingrese la contrase単a...', 'required' : 'required'}}) }}
                             <span class="text-danger">{{ form_errors(form.plainPassword.first) }}</span>
                        </div>   
                        <div class="form-group col-lg-4">
                             <label>Repita la contrase単a:</label>
                             {{ form_widget(form.plainPassword.second, { 'attr' :{ 'class' : 'form-control', 'placeholder' : 'Repita la contrase単a...', 'required' : 'required'}}) }}
                            <span class="text-danger">{{ form_errors(form.plainPassword.second) }}</span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Nombre:</label>
                            {{ form_widget(form.nombre, { 'attr' :{ 'class' : 'form-control','placeholder' : 'Ingrese el nombre...', 'required' : 'required'}}) }}
                            <span class="text-danger">{{ form_errors(form.nombre) }}</span>           
                        </div>
                        <div class="form-group col-lg-4">
                             <label>Apellido:</label>
                             {{ form_widget(form.apellido, { 'attr' :{ 'class' : 'form-control', 'placeholder' : 'Ingrese el apellido...', 'required' : 'required'}}) }}
                             <span class="text-danger">{{ form_errors(form.apellido) }}</span>
                        </div>  
                        <div class="form-group col-lg-4">
                            <label>Email:</label>
                            {{ form_widget(form.email, { 'attr' :{ 'class' : 'form-control','placeholder' : 'Ingrese el email...', 'required' : 'required'}}) }}
                            <span class="text-danger">{{ form_errors(form.email) }}</span>           
                        </div>
                        <div class="form-group col-lg-4">
                             <label>Rol:</label>
                             {{ form_widget(form.rol, { 'attr' :{ 'class' : 'form-control', 'required' : 'required'}}) }}
                             <span class="text-danger">{{ form_errors(form.rol) }}</span>
                        </div>  
                        
                        <div class="form-group col-lg-4">
                            <label>Unidad de carga:</label>
                             {{ form_widget(form.unidades, { 'attr' :{ 'class' : 'form-control', 'required' : 'required'}}) }}
                             <span class="text-danger">{{ form_errors(form.unidades) }}</span>
                        </div> 

                  
                  <input class="btn btn-success btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />

                    
                        
            </div>


         
                   
 
            {{ form_rest(form) }}
        </div>      
    </div>


{% endblock %}