{% extends 'layout.html.twig' %}


{% block body %}
    {{ parent() }}
    <div class="main container">
        <div class="row well" >
            <div class="col-md-12">
                <div class="page-header">
                    <h3><i class="fa fa-folder-open-o" aria-hidden="true"></i> Ficha {{ ficha.id }}</h3>
                </div>
                <table class="table">
                    <tbody>
                        
                        <tr>
                           
                            <th>TAS</th>
                            <td>
                                {% if ficha.tas %}
                                    {{ficha.tas}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                       
                        </tr>
                        
                        <tr>
                         
                            <th>TAD</th>
                            <td>
                                {% if ficha.tad %}
                                    {{ficha.tad}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                       
                        </tr>
                        <tr>
                          
                            <th>Talla</th>
                            <td>
                                {% if ficha.talla %}
                                    {{ficha.talla}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <th>Peso</th>
                            <td>
                                {% if ficha.peso %}
                                    {{ficha.peso}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Glucemia</th>
                            <td>
                                {% if ficha.glucemia %}
                                    {{ficha.glucemia}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Fructosamina</th>
                            <td>
                                {% if ficha.fructosamina %}
                                    {{ficha.fructosamina}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hba1c</th>
                            <td>
                                {% if ficha.hba1c %}
                                    {{ficha.hba1c}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Colesterol total</th>
                            <td>
                                {% if ficha.colesterolTotal %}
                                    {{ficha.colesterolTotal}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Colesterol HDL</th>
                            <td>
                                {% if ficha.colesterolHdl %}
                                    {{ficha.colesterolHdl}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Colesterol LDL</th>
                            <td>
                                {% if ficha.colesterolLdl %}
                                    {{ficha.colesterolLdl}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Triglicéridos</th>
                            <td>
                                {% if ficha.trigliceridos %}
                                    {{ficha.trigliceridos}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Creatinina</th>
                            <td>
                                {% if ficha.creatinina %}
                                    {{ficha.creatinina}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Proteinuria</th>
                            <td>
                                {% if ficha.proteinuria %}
                                    {{ficha.proteinuria}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Urocultivo</th>
                            <td>{% if ficha.urocultivo is null %}-
                                {% elseif ficha.urocultivo == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensioncronica</th>
                            <td>{% if ficha.hipertensionCronica %}Si{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Obesidad</th>
                            <td>{% if ficha.obesidad %}Si{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Tabaquismo</th>
                            <td>{% if ficha.tabaquismo %}Si{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Realiza actividad física</th>
                            <td>{% if ficha.realizaActividadFisica is null %}-
                                {% elseif ficha.realizaActividadFisica == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Número de veces por semana</th>
                            <td>
                                {% if ficha.numeroDeVecesPorSemana %}
                                    {{ficha.numeroDeVecesPorSemana}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Minutos</th>
                            <td>
                                {% if ficha.minutos %}
                                    {{ficha.minutos}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Conoce metas de tratamiento</th>
                            <td>
                                {% if ficha.conoceMetasDeTratamiento is null %}-
                                {% elseif ficha.conoceMetasDeTratamiento == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Cumple plan de alimentación</th>
                            <td>
                                {% if ficha.cumplePlanDeAlimentacion is null %}-
                                {% elseif ficha.cumplePlanDeAlimentacion == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Número de porciones de fruta por día</th>
                            <td>
                                {% if ficha.numerodePorcionesDeFrutaPorDia %}
                                    {{ficha.numerodePorcionesDeFrutaPorDia}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Sabe identificar o tratar hipoglucemias</th>
                            <td>
                                 {% if ficha.sabeIdentificarOTratarHipoglucemias is null %}-
                                {% elseif ficha.sabeIdentificarOTratarHipoglucemias == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Automonitoreo glucemico</th>
                            <td>{% if ficha.automonitoreoGlucemico %}Si{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Número de veces por día</th>
                            <td>
                                {% if ficha.numeroDeVecesPorDia %}
                                    {{ficha.numeroDeVecesPorDia}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Fuma actualmente</th>
                            <td>{% if ficha.fumaActualmente is null %}-
                                {% elseif ficha.fumaActualmente == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Fumó anteriormente</th>
                            <td>
                                {% if ficha.fumoAnteriorMente is null %}-
                                {% elseif ficha.fumoAnteriorMente == 1 %}Si
                                {% else %}No{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Cigarrillos al día</th>
                            <td>
                                {% if ficha.cigarrillosAlDia %}
                                    {{ficha.cigarrillosAlDia}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Causa hospitalización</th>
                            <td>
                                {% if ficha.causaHospitalizacion1 %}
                                    {{ficha.causaHospitalizacion1}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Causa hospitalización</th>
                            <td>
                                {% if ficha.causaHospitalizacion2 %}
                                    {{ficha.causaHospitalizacion2}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Causa hospitalización</th>
                            <td>
                                {% if ficha.causaHospitalizacion3 %}
                                    {{ficha.causaHospitalizacion3}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Días hospitalización</th>
                            <td>
                                {% if ficha.diasHospitalizacion1 %}
                                    {{ficha.diasHospitalizacion1}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Días hospitalización</th>
                            <td>
                                {% if ficha.diasHospitalizacion2 %}
                                    {{ficha.diasHospitalizacion2}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Días hospitalización</th>
                            <td>
                                {% if ficha.diasHospitalizacion3 %}
                                    {{ficha.diasHospitalizacion3}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensión atenolol</th>
                            <td>
                                {% if ficha.hipertensionAtenolol %}
                                    {{ficha.hipertensionAtenolol}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensión bloqueantes cálcicos</th>
                            <td>
                                {% if ficha.hipertensionBloqueantesCalcicos %}
                                    {{ficha.hipertensionBloqueantesCalcicos}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensión furosemida</th>
                            <td>
                                {% if ficha.hipertensionFurosemida %}
                                    {{ficha.hipertensionFurosemida}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensión otro</th>
                            <td>
                                {% if ficha.hipertensionOtro %}
                                    {{ficha.hipertensionOtro}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Hipertensión ¿cual?</th>
                            <td>
                                {% if ficha.hipertensionCual %}
                                    {{ficha.hipertensionCual}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>AAS</th>
                            <td>
                                {% if ficha.aas %}
                                    {{ficha.aas}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Insulina NPH</th>
                            <td>
                                {% if ficha.insulinaNph %}
                                    {{ficha.insulinaNph}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Insulina detemir</th>
                            <td>
                                {% if ficha.insulinaDetemir %}
                                    {{ficha.insulinaDetemir}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Insulina corriente</th>
                            <td>
                                {% if ficha.insulinaCorriente %}
                                    {{ficha.insulinaCorriente}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Insulina aspartica</th>
                            <td>
                                {% if ficha.insulinaAspartica %}
                                    {{ficha.insulinaAspartica}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Número inyecciones por día</th>
                            <td>
                                {% if ficha.numeroInyeccionesDia %}
                                    {{ficha.numeroInyeccionesDia}}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <ul>
                    <li>
                        
                            <a class="btn btn-info" href="{{ path('paciente_index') }}">Listado de pacientes</a>
                            <a class="btn btn-success" href="{{ path('ficha_edit', { 'id': ficha.id }) }}">Editar</a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

    


        