{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-female" aria-hidden="true"></i> Editar paciente</h3>
          	<a class="btn btn-primary" href="{{ path('paciente_index') }}" title="Volver"><i class="fa fa fa-reply-all" aria-hidden="true"></i>  Volver</a> 
        </div>
    </div>
    <br>
	<div class="main container">
		<div class="row well" >
			<div class="col-md-12">
				
                {{ form_start(edit_form, { 'attr' : {'role' : 'form'} }) }}
<!--Nombre -->
                <div class="form-group col-lg-4">
                    {{ form_label(edit_form.nombre, 'Nombre:') }}
                    {{ form_widget(edit_form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Ingrese el nombre...'} }) }}
                    <span class="text-danger">{{ form_errors(edit_form.nombre) }}</span>
                </div>
<!--Apellido -->                
			    <div class="form-group col-lg-4">
			        {{ form_label(edit_form.apellido, 'Apellido:') }}
			        {{ form_widget(edit_form.apellido, {'attr': {'class': 'form-control', 'placeholder' : 'Ingrese el apellido...'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.apellido) }}</span>
			    </div>
<!--Tipo de documento -->
			    <div class="form-group col-lg-4">
			        {{ form_label(edit_form.tipoDocumento, 'Tipo de documento:') }}
			        {{ form_widget(edit_form.tipoDocumento, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.tipoDocumento) }}</span>
			    </div>
<!--Numero de documento-->
			    <div class="form-group col-lg-4">
			        {{ form_label(edit_form.numeroDocumento, 'Numero de documento:') }}
			        {{ form_widget(edit_form.numeroDocumento, {'attr': {'class': 'form-control', 'placeholder' : 'Ingrese el numero...'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.numeroDocumento) }}</span>
			    </div>
<!--Fecha de nacimiento-->
			    <div class="form-group col-lg-4">
			        {{ form_label(edit_form.fechaNacimiento, 'Fecha de nacimiento:') }}
			        {{ form_widget(edit_form.fechaNacimiento, {'attr': {'class': 'form-control'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.fechaNacimiento) }}</span>
			    </div>
<!--Nacionalidad-->
			    <div class="form-group col-lg-4">
			        {{ form_label(edit_form.nacionalidad, 'Nacionalidad:') }}
			        {{ form_widget(edit_form.nacionalidad, {'attr': {'class': 'form-control', 'placeholder' : 'Ingrese la nacionalidad...'}}) }}
			        <span class="text-danger">{{ form_errors(edit_form.nacionalidad) }}</span>
			    </div>
				{{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-success btn-lg btn-block'}}) }}
                {{ form_end(edit_form) }}
			</div>
		</div>
	</div>
{% endblock %}
