{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well" >
			<div class="col-md-10">
				<div class="page-header">
					<h3><i class="fa fa-female" aria-hidden="true"></i> Paciente:</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<th>Nombre:</th>
							<td>{{ paciente.nombre }}</td>
						</tr>
						<tr>
							<th>Apellido:</th>
							<td>{{ paciente.apellido }}</td>
						</tr>
						<tr>
							<th>Tipo de documento:</th>
							<td>{{ paciente.tipoDocumento }}</td>
						</tr>
						<tr>
							<th>Número de documento:</th>
							<td>{{ paciente.numeroDocumento }}</td>
						</tr>
						<tr>
							<th>Fecha de nacimiento:</th>
							<td>
							{% if paciente.fechaNacimiento %}
								{{ paciente.fechaNacimiento|date('d/m/Y') }}
							{% endif %}
							</td>
						</tr>
						<tr>
							<th>Nacionalidad:</th>
							<td>{% if paciente.nacionalidad %}{{ paciente.nacionalidad }}{% endif %}</td>
						</tr>
						<tr>
							<th>Unidad de carga:</th>
							<td>{% if paciente.unidadCarga %}{{ paciente.unidadCarga }}{% endif %}</td>
						</tr>
						
						
					</tbody>
				</table>

				<ul>
					<li>
				
							<a class="btn btn-info" href="{{ path('paciente_index') }}">Listado de pacientes</a>
							<a class="btn btn-success" href="{{ path('paciente_edit', { 'id': paciente.id }) }}">Editar</a>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
