{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <body class="login-img3-body">

    <div class="container">
      <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">      
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i>QualiDiab</p>
            {% if error %}
            <div class="alert alert-block alert-danger fade in">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                      <i class="icon-remove"></i>
                  </button>
                  {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
              
            {% endif %}
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" autofocus required>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required>
            </div>
           
            <label class="checkbox">
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <span class="pull-right"> <a href="{{ path('fos_user_resetting_request') }}"> ¿Olvidó su contraseña?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Ingresar</button>
        </div>
      </form>

    </div>


  </body>

    
{% endblock fos_user_content %}



