<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="QualiDiab-Gest - Sistema de registro ">
    <link rel="shortcut icon" href="{{ asset('public/image/favicon.png') }}">

    <title>QualiDiab-Gest</title>
        {% block stylesheets %}

            <!-- Bootstrap CSS -->    
            <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- bootstrap theme -->
            <link href="{{ asset('public/css/bootstrap-theme.css') }}" rel="stylesheet">

            <!-- font icon -->
            <link href="{{ asset('public/css/elegant-icons-style.css') }}" rel="stylesheet" />
            <link href="{{ asset('public/css/font-awesome.min.css') }}" rel="stylesheet" />    
         
            <!-- Custom styles -->
            <link href="{{ asset('public/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('public/css/style-responsive.css') }}" rel="stylesheet" />
              <link href="{{ asset('public/css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet">
            
            <!-- DataTables CSS -->
            <link href="{{ asset('public/css/dataTables.bootstrap.css') }}" rel="stylesheet">

            <!-- DataTables Responsive CSS -->
            <link href="{{ asset('public/css/dataTables.responsive.css') }}" rel="stylesheet">


        {% endblock %}

</head>

 <!--  <body class="login-img3-body">

    <div class="container">

      <form class="login-form" action="index.html">        
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i>QualiDiab</p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input type="text" class="form-control" placeholder="Usuario" autofocus required>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <label class="checkbox">
                <span class="pull-right"> <a href="#"> ¿Olvidó su contraseña?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
        </div>
      </form>

    </div>


  </body> -->

{% block body %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}


</html>


