{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset login-form">
	<div class="login-wrap">
	    {{ form_errors(form) }}
	    <p class="login-img"><i class="icon_lock_alt"></i>Nueva Contraseña</p>
	    {% if form.plainPassword.first.vars.errors[0].message is defined %}
	    <div class="{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
	            <span class="help-block">
	                {{ form.plainPassword.first.vars.errors[0].message }}
	            </span> 
	    </div>
	    {% endif %}
	    <div class="input-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
	    		<span class="input-group-addon"><i class="icon_key_alt"></i></span>
	            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}  
	    </div>
	  
	    {{ form_label(form.plainPassword.second) }}
	     
	    <div class="input-group{% if form.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
	    	<span class="input-group-addon"><i class="icon_key_alt"></i></span>
	            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
	            {% if form.plainPassword.second.vars.errors[0].message is defined %}
	            <span class="help-block">
	                {{ form.plainPassword.second.vars.errors[0].message }}
	            </span>
	            {% endif %}
	    </div>
	    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary btn-lg btn-block"/>
	</div>
	{{ form_row(form._token) }}
</form>