{% extends 'base.html.twig' %}

{% block body %}
    <h1>Provincias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provincia in provincias %}
            <tr>
                <td><a href="{{ path('provincia_show', { 'id': provincia.id }) }}">{{ provincia.id }}</a></td>
                <td>{{ provincia.nombre }}</td>
                <td>{{ provincia.codigo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('provincia_show', { 'id': provincia.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('provincia_edit', { 'id': provincia.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('provincia_new') }}">Create a new provincia</a>
        </li>
    </ul>
{% endblock %}
