{% extends 'base.html.twig' %}

{% block body %}
    <h1>Provincias</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provincia.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ provincia.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ provincia.codigo }}</td>
            </tr>
          </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('provincia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('provincia_edit', { 'id': provincia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
