{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pais list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pais in pais %}
            <tr>
                <td><a href="{{ path('pais_show', { 'id': pais.id }) }}">{{ pais.id }}</a></td>
                <td>{{ pais.nombre }}</td>
                <td>{{ pais.codigo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pais_show', { 'id': pais.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pais_edit', { 'id': pais.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pais_new') }}">Create a new pais</a>
        </li>
    </ul>
{% endblock %}
